body{ font-family: Roboto; font-style: normal; font-weight: normal; }
.block-1{
	width: 100%;
	height: 785px;
	/* background: radial-gradient(1588.94px at 79.18% 5.3%, #8CCAF8 0%, #54A5E1 100%); */
	/* box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5); */
	/* background-image: url('../images/Mask.png');	 */
	background: radial-gradient(120% 82%, #19D6FF 0%, #2AAAFF 96%);
}
button{
	
}
.logo{
	/* width: 194.5px; */
	top: 35px;
	left: -70px;
	position: absolute;
	/* left: 317px; */
	/* margin-top: 34px; */
}
.darvis-logo_background{
	position: absolute;
	margin-top: 62px;
	left: 251px;
}	
#rectangle{
	position: absolute;
}
.phone-main{
	position: absolute;
	top: 128.75px;
	left: -70px;
	/* left: 317px; */
}
.text-1{
	margin-top: 25.39px;
	float: right;
	color: white;
}
.text-1_title{
	width: 474px;
	font-size: 37.5px;
	letter-spacing: -0.11px;
	margin-bottom: 1rem;
	font-family: 'Roboto-Black', sans-serif;
	line-height: 47px;
	float: right;
}
.text-1_text{
	width: 506px;
	line-height: normal;
	font-size: 16px;
	text-align: right;
	letter-spacing: -0.1px;
	font-family: 'Roboto-Regular', sans-serif;
	margin-right: -80px;
	margin-bottom: 20px;
}
.hashtag{
	width: 502.5px;
	color: #22BEFF;
	margin-right: 35px;
	margin-top: 50px;
}
.hashtag span{
	background-color: white;
	border-radius: 10px;
	padding: 5px 8px; 
	margin: 0 1px 3px ;
	float: right; 
}
.smoke{
	position: absolute;
	left: 28%;
	top: 115px;
	width: 61%;
}
.stickers{
	position: relative;
	left: 30.7%;
	top: 25px;
}
.block-2{
	width: 100%;
}
.download-app{
	background: linear-gradient(45.11deg, #FCFCFC 103.55%, #F1F1F1 164.59%);
	margin-bottom: -10px;
	height: 202px;
}
.grey-text{
	line-height: 16px;
	width: 217px;
	float: right;	
	margin-top: 45px;
	margin-right: 20px;
	font-size: 14px;
	color: #A4AFB7;
	letter-spacing: 0;
}
.block-2 h2
{
	line-height: normal;
	font-size: 26px;
	color: #000000;
}
.download{
	width: 500px;
	margin: auto;
	margin-top: -50px;
	/* padding-top: 200px; */
}
.icons{
	float: left;
	padding: 5px;
}
.android{
	float: left;
	font-size: 18px;
	text-align: center;
	width: 47%;
	color: #485A66;
	border: 1px solid #c8c8c8;
	border-radius: 10px;
	margin-top: 10px;
}
.android img, .apple img{
	padding-left: 20px;
}
.apple{
	float: right;	
	font-size: 18px;
	text-align: center;
	width: 50%;
	color: #485A66;
	border: 1px solid #c8c8c8;
	border-radius: 10px;
	margin-top: 10px;
}
.android p, .apple p{
	float: left;
	margin-top: 12px;
	margin-left: 7px;
}
.about{
	text-align: center;
	padding: 50px 0px;
	font-size: 32px;
	color: #000000;
	letter-spacing: 0;
	font-weight: 400;
}
.carousel {
  background: #EEE;
}
.carousel-cell {
  width: 100%;
  height: 782px;
  background: #FFF;
  border-radius: 5px;
}
.img-carousel{
	width: 40%;
	float: right;
}
.slide-img{
	margin-top: 40px;
}
.img-5{
	margin-left: -150px;
}
.slides{
	width: 80%;
	margin: auto;
}
.flickity-prev-next-button.next, .flickity-prev-next-button.previous{
	background-color: #DADADA;
}
.text-carousel img{
	display: inline-block;
	float: left;
	padding-top: 8px;
	padding-right: 15px;
}
.text-carousel {
	width: 340px;
	float: left;
	margin-top: 65px;
	
}
.text-carousel h2{
	font-size: 30px;
	color: #000000;
	letter-spacing: 0;
	line-height: 38.4px;
}
.slide1-text{
	line-height: 18px;
	font-size: 14px;
	color: #303C45;
	width: 391px;
	margin-top: 30px;
}
#robot{
	position: absolute;
	width: 243px;
	top: 375px;
	right: 440px;
}
.curly-line-center{
	padding-top: 10px;	
}
li p{
	line-height: 13px;
	font-size: 15px;
	text-align: center;
	padding-top: 70px;
}
.flickity-page-dots{
	top: 0;	
	height: 100px;
	background-color: white;	
}
.container .carousel{
	margin-top: 20px;
}
.flickity-page-dots .dot{
	width: 130px;
	height: 130px;
	border-radius: 100px;
	border: 1px solid #D7D7D7;
	margin-left: 0;
	margin-top: -30px;
	margin-right: 15px;
	position: relative;
	background-color: transparent;
	opacity: 1;
	font-size: 13px;
	color: #727272;
	letter-spacing: 0;
	line-height: 14px;
}
.send{
	width: 100%;
	height: 295px;
	background-image: radial-gradient(101% 99%, #1DCAFF 0%, #2BABFF 100%);
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
}
.flickity-slider{
	padding-top: 100px;
}
li img{
	position: absolute;
	top: 20px;
	left: 50px;	
}
.send h2{
	line-height: normal;
	font-size: 32px;
	color: white;
}
.send h5{
	position: absolute;
	color: white;
	left: 55%;
	visibility: hidden;
	margin-top: -35px;
}
.footer-text{
	padding-top: 30px;
	width: 70%;
}
.oval-footer{
	position: absolute;
}
#curlyPath{
	position: absolute;
	right: 0;
}
.curly-path{
	position: relative;
	top: 100px;
}
.send p{
	line-height: 18px;
	font-size: 16px;
	color: white;	
}
.forms{
	padding-top: 50px;
	color: white;
	text-align: center;
}
.sendbtn{
	background: #FFFFFF;
	box-shadow: 0px 2px 11px rgba(73, 81, 91, 0.15);
	border-radius: 25px !important;
	width: 147px;
	height: 45px;
	margin-right: 480px;
	margin-top: 10px;
	line-height: normal;
	font-size: 14px;
	text-align: center;
	color: rgb(70, 130, 170);
}
.footer{
	height: 131px;
	width: 100%;
	background: #414B4D;
}
.forms input{
	border-radius: 35px;
	background: #fff;
	mix-blend-mode: normal;
	width: 272px;
}
.emailDiv input{
	/* margin-righ: 50px; */
	padding-right: 20px;
}
.nameDiv{
	float: left;
	margin-right: -10px;
}
.telDiv{
	float: left;
	margin-top: -18px;
	margin-right: -10px;
}
.smsDiv{
	margin-top: -42px;
	margin-right: 60px;
	float: right;
}
.icon-social{
	color: white;
	padding-right: 15px;
}
.icons-svg{
	position: absolute;
	visibility: hidden;
}
.footer p{
	line-height: 15px;
	font-size: 14px;
	color: #DDE8EF;
	padding-left: 5px;
}
.footer-year{
	float: right;
}
.footer-android{
float: left;
text-align: center;
padding-right: 20px;
}
.footer-android img, .footer-apple img{
	margin-top: -5px;
}
.footer-apple{
	margin-left: 70px;
	text-align: center;
}
.footer-android p, .footer-apple p{
	float: left;
	margin-left: 3px;
	padding-top: 5px;
}
.footer-android p{
	padding-right: 20px;
	border-right: 2px solid #979797;
}
.footer-address{
	height: 100%;
}
.flickity-page-dots .dot.is-selected {
	background: #22BEFF;
	color: 	#FFFFFF;
}
.is-selected svg g{
	fill: #fff !important;
}
li svg{
	position: absolute;
	bottom: 75px;
	left: 55px;
}
.fixed-social-links{
	/* position: fixed; */
}
.links{
	position: absolute;
	background: #B8DDF9;
	border-radius: 100px;
	left: 86%;
}
.link-1{	
	top: 35px;				
}
.link-3{
	top: 75px;	
}
.link-4{
	top: 115px;	
}
.link-5{
	top: 245px;
	padding: 4px 8px;
}
.fixed-icons{
	color: white;
}
.footer-row{
	width: 100%;
}
.col-form-label{
	padding-right: 8px;
	text-align: left;
}
.success{
	width: 100%;
}
.success-curve{
	margin-left: 56.8%;
}
.success-rect{
	display: inline-block;
	margin-left: 20%;
	margin-top: 87px;
}
.success-darvis_logo{
  text-align: center;	
  margin-top: -250px;
}
.success-approved{
	/* position: absolute; */
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
.success-text{
	font-family: Helvetica;
	font-size: 18px;
	color: #303030;
	letter-spacing: -0.23px;
	padding-top: 5px;
	text-align: center;
	line-height: 23px
}
.success-text p{
	display: inline;
}
.success-logos{
	text-align: center;
}
.success-logos_darvis{
	margin-left: 30px;
	margin-bottom: -6px;
}
.success-logos_dar{
	margin-right: 40px;	
	padding-top: 80px;
}
.success-logos-text{
	text-align: center;
	padding-top: 10px;
}
.success-logos-text a{
    margin-right: 30px;
	margin-left: 60px;
	text-decoration:none;
	font-size: 14px;
	color: #818181;
	font-family: 'Helvetica';
}
.success-circle{
	position: absolute;
	top: 50%;
	left: 62%;
}
.success-email{
	display: inline;
	font-weight: bold;
}
.howDarvisWorks{
	height: 793px;
	width: 100%;
	margin-top: 100px;
	background-image: linear-gradient(-13deg, #FCFCFC 0%, #F1F1F1 100%);
}
.howDarvisWorks h2{
	font-size: 32px;
	color: #000000;
	letter-spacing: 0;
	padding: 40px 0;
	text-align: center;
}
.howDarvisWorks img{
	position: absolute;
}
.backgroundCircle{
right: 0;
}
.videoTitles{
	width: 183px;
	/* margin-top: -50px; */
	float: left;
}
.videos{
	width: 824px;
	float: right;
}
.buttons{
	cursor: pointer;
	text-decoration: none;
	touch-action: none;
	width: 100%;
	margin: 5px 0;
	text-align: left;
	border-style: none;
	border: transparent;
	padding: 2px;
	padding-top: 7px;
	font-family: Roboto;
}
.activeVideo{
	width: 220px;
	color: white;
	height: 37px;
	background-image: url('../images/buttonBackground.svg');
}
.buttons:focus {
	outline: none;
	border: transparent;
  }

