@media (max-device-width: 768px){
	#phone-main	{
		left: 0;
		width: 35%;
		top:150px;
	}
	#superRobot{
		left: 140px;
		height: 375px;		
	}
	.text-1 h2{
		padding-top: 30px;
		font-size: 54px;
	}
	.text-1 p{
		font-size: 14px;
	}
	.text-1{
		width: 374px;
	}
	.download{
		padding-top: 180px;	
	}
	.android, .apple{
		padding-top: 25px;
	}
	#robot{
		width: 150px;
		top: 280px;
		left: 350px;
	}
	.footer-address .android , .footer-address .apple {
		margin-top: 0;
		padding-top: 0;
	}
}
@media (max-device-width: 1024px){
	.link-1, .link-2, .link-3, .link-4, .link-5{
		left: 980px;
	}
	#robot{
		right: 270px;	
	}
	.footer-address .android p, .footer-address .apple p{
		font-size: 10px;
	}
	.footer-address .android img, .footer-address .apple img{
		width: 21%;
	}
}