@media (min-width: 426px) and (max-width: 768px){
	.phone-main	{ left: 0; width: 35%; top:150px; }
	.superRobot{ left: 140px; height: 375px; }
	.text-1 h2{ padding-top: 30px; font-size: 54px; }
	.text-1 p{ font-size: 14px; }
	.text-1{ width: 374px; }
	.download{ padding-top: 180px; }
	.android, .apple{ padding-top: 25px; }
	#robot{ width: 150px; top: 280px; left: 350px; }
	.footer-address .android , .footer-address .apple { margin-top: 0; padding-top: 0; }
}
@media (max-device-width: 1024px){
	.link-1, .link-2, .link-3, .link-4, .link-5{ left: 980px; }
	#robot{ right: 270px; }
	.footer-address .android p, .footer-address .apple p{ font-size: 10px; }
	.footer-address .android img, .footer-address .apple img{ width: 21%; }
}
@media (min-width: 319px) and (max-width: 426px){
	.logo{ margin-top: 10px; margin-left: 33px; }
	#rectangle{ width: 100%; }
	.block-1{ width: 100%; height: 758px; }
	.text-1 h2{ font-size: 34px; line-height: 34px; text-align: left; letter-spacing: -0.22%; }
	.text-1{ width: 95%; float: left; margin-top: 21px; margin-left: 10px; }
	.text-1 p{ text-align: left; width: 70%; font-size: 16px; }
	.text-1 img{ width: 100%; padding-bottom: 1rem; }
	.phone-main{ width: 171px; top: 495px; left: 37px; }
	.superRobot{ width: 162px; height: 256px; top: 570px; left: 138px; }
	.grey-text{ width: 217px; text-align: left; margin-top: 70px; }
	.download{ width: 100%; padding-top: 150px; text-align: center; }
	.download-app{ background: linear-gradient(9.52deg, #FCFCFC -1.34%, #F1F1F1 156.45%); }
	.block-2 h2{ font-size: 24px; margin: auto; }
	.android , .apple{ border-right: 0; padding-top: 20px; padding-left: 20px; width: 90%; margin-left: 6%; }
	.android{ border-bottom: 2px solid #DFE7EC; padding-bottom: 15px; padding-top: 30px; }
	.text-carousel img, .flickity-prev-next-button, .flickity-page-dots{ visibility: hidden; position: absolute; }
	.text-carousel{ width: 100%;font-size: 22px; text-align: center;}
	.slide1-text{ position: absolute; top: 552px; font-family: Roboto; font-style: normal; font-weight: normal; line-height: 18px; font-size: 14px; text-align: left; }
	.slide-img{ position: absolute; width: 195px; margin: auto; text-align: center; left: 22%; top: 160px;}
	#robot{ width: 156px; right: 0; top: 300px;	left: 0px;}
	.container .carousel{ margin-top: 0px; padding-top: 0px; }
	.carousel-cell{ height: 750px; }
	.img-5{ height: 270px; }
	.flickity-page-dots{ height: 0px; background: white; }
	.flickity-slider{ padding-top: 0px; }
	.icons-svg{ visibility: visible !important; top: 10px; left: 130px; left: 48%; }
	.send{ margin-top: 20px; height: 100%; background: radial-gradient(876.39px at 79.18% 5.3%, #8CCAF8 0%, #57A7E2 100%); }
	.send h2{ font-size: 24px; width: 100%; }
	.send p{ width: 80%; }
	.oval-footer, .curly-path{ width: 320px; }
	.col-form-label{ text-align: left; }
	.forms{ padding-top: 0px; }
	.form-group{ margin-bottom: 0; }
	.forms input{ width: 95%; }
	.sendbtn{ margin: 20px 0 60px; }
	.footer{ height: 100%; }
	.footer-year{ float: left; padding-top: 0; margin: 20px 0; }
	.footer-address{ padding-top: 20px; }
	.footer-address .android , .footer-address .apple{ padding: 0; width: 35%; display: inline-block; margin-left: 0; padding-bottom: 10px; } 
	.footer-address .android{ border-bottom: 0; float: left; display: inline-block; border-right: 2px solid #DFE7EC; }
	.footer-address .apple{ float: left; padding-left: 30px; display: inline-block; }
	.footer-address .android p, .footer-address .apple p{ font-size: 14px; }
	.footer-address .android img, .footer-address .apple img{ width: 20%; }
	.link-1, .link-3, .link-4, .link-5{ left: 280px; }
	.link-1{ top: 20px; }
	.link-3{ top: 60px; }
	.link-4{ top: 100px; }
	.link-5{ top: 140px; }
	.fixed-social-links-hide{ visibility: hidden; }
	.footer-icons{ margin-top: -40px; }
}
@media(min-width: 358px) and (max-width: 426px){
	.link-1, .link-3, .link-4, .link-5{ left: 338px; }
	.slide-img{ left: 25%; }
}
