body{ font-family: Roboto; font-style: normal; font-weight: normal; }
.block-1{
	width: 100%;
	height: 585px;
	background: radial-gradient(1588.94px at 79.18% 5.3%, #8CCAF8 0%, #54A5E1 100%);
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);	
}
.logo{
	width: 121px;
	height: 26px;
	margin-top: 34px;
}	
#rectangle{
	position: absolute;
	top: -55px;
}
.phone-main{
	width: 295.53px;
	position: absolute;
	top: 105.39px;
}
.superRobot{
	position: absolute;
	top: 290px;
	left: 275px;
	height: 455px;
}
.text-1{
	width: 474px;
	margin-top: 105.39px;
	float: right;
	color: white;
}
.text-1 h2{
	line-height: 65px;
	font-size: 62px;
	text-align: right;
	letter-spacing: -0.137778px;
	margin-bottom: 2rem;
}
.text-1 img{
	float: right;
	padding-bottom: 2rem;
}
.text-1 p{
	line-height: normal;
	font-size: 16px;
	text-align: right;
	letter-spacing: -0.1px;
}
#oval{
	position: absolute;
	top: 251px;
	right: 0;
}
.block-2{
	height: 359.75px;
	width: 100%;
}
.download-app{
	background: linear-gradient(45.11deg, #FCFCFC 103.55%, #F1F1F1 164.59%);
	margin-bottom: -10px;
}
.grey-text{
	line-height: 16px;
	font-size: 12px;
	text-align: right;
	color: #A4AFB7;
	width: 357px;
	float: right;	
	margin-top: 15px;
	margin-right: 50px;
}
.block-2 h2
{
	line-height: normal;
	font-size: 26px;
	color: #485A66;
}
.download{
	width: 569px;
	margin: auto;
	padding-top: 200px;
}
.icons{
	float: left;
}
.android{
	float: left;
	display: inline-block;
	line-height: normal;
	font-size: 18px;
	text-align: center;
	width: 46%;
	color: #485A66;
	border-right: 2px solid #DFE7EC;
}
.apple{
	float: right;	
	display: inline-block;
	line-height: normal;
	font-size: 18px;
	text-align: center;
	width: 46%;
	color: #485A66;
}
.android p, .apple p{
	margin-bottom: 0px;
	float: left;
	margin-top: 5px;
	margin-left: 8px;
}
.carousel {
  background: #EEE;
}
.carousel-cell {
  width: 100%;
  height: 582px;
  background: #FFF;
  border-radius: 5px;
}
.img-carousel{
	width: 40%;
	float: right;
}
.slide-img{
	
}
.slides{
	width: 80%;
	margin: auto;
}
.flickity-prev-next-button.next, .flickity-prev-next-button.previous{
	background-color: #DADADA;
}
.text-carousel img{
	display: inline-block;
	float: left;
	padding-top: 8px;
	padding-right: 15px;
}
.text-carousel {
	width: 330px;
	float: left;
	margin-top: 65px;
	color: #303C45;
	font-size: 26px;
}
.slide1-text{
	line-height: 18px;
	font-size: 14px;
	color: #303C45;
}
#robot{
	position: absolute;
	width: 190px;
	top: 225px;
	right: 440px;
}
.curly-line-center{
	padding-top: 10px;	
}
li p{
	line-height: 13px;
	font-size: 15px;
	text-align: center;
	padding-top: 20px;
}
.flickity-page-dots{
	top: 0;	
	height: 100px;
	background-color: white;	
}
.container .carousel{
	margin-top: 80px;
}
.flickity-page-dots .dot{
	width: 130px;
	height: 3px;
	border-radius: 0;
	margin: 0;
	position: relative;
}
.send{
	margin-top: 100px;
	width: 100%;
	height: 400px;
	background: radial-gradient(1588.94px at 79.18% 5.3%, #8CCAF8 0%, #54A5E1 100%);
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
}
.flickity-slider{
	padding-top: 100px;
}
li img{
	position: absolute;
	top: -50px;
	left: 50px;	
}
.send h2{
	line-height: normal;
	font-size: 32px;
	color: white;
}
.send h5{
	position: absolute;
	color: white;
	left: 30%;
	visibility: hidden;
	padding-top: 15px;
}
.footer-text{
	padding-top: 30px;
	width: 70%;
}
.oval-footer{
	position: absolute;
}
#curlyPath{
	position: absolute;
	right: 0;
}
.curly-path{
	position: absolute;
	left: 0;
	bottom: 10px;
}
.send p{
	line-height: 18px;
	font-size: 16px;
	color: white;	
}
.forms{
	padding-top: 50px;
	color: white;
	text-align: center;
}
.sendbtn{
	background: #FFFFFF;
	box-shadow: 0px 2px 11px rgba(73, 81, 91, 0.15);
	border-radius: 25px !important;
	width: 147px;
	height: 45px;
	margin: auto;
	line-height: normal;
	font-size: 14px;
	text-align: center;
	color: #5AB3F0;
}
.footer{
	height: 150px;
	width: 100%;
	background: #414B4D;
}
.forms input{
	border-radius: 8px;
	background: #C6E8FF;
	mix-blend-mode: normal;
	width: 80%;
}
.icon-social{
	color: white;
	padding-right: 15px;
}
.icons-svg{
	position: absolute;
	visibility: hidden;
}
.footer p{
	line-height: 15px;
	font-size: 14px;
	color: #DDE8EF;
}
.footer-year{
	float: right;
	padding-top: 40px;
}
.footer-address{
	padding-top: 20px;
	height: 100%;
}
.is-selected {
	color: 	#5AB3F0;
}
.flickity-page-dots .dot.is-selected {
	background: #5AB3F0;
}
.fixed-social-links{
	position: fixed;
}
.links{
	position: absolute;
	background: #B8DDF9;
	border-radius: 100px;
	left: 1578px;
}
.link-1{	
	top: 125px;		
	padding: 3px 12px;	
}
.link-3{
	top: 165px;
	padding: 3px 6px;
}
.link-4{
	top: 205px;
	padding: 4px 8px;
}
.link-5{
	top: 245px;
	padding: 4px 8px;
}
.fixed-icons{
	color: white;
}
.footer-row{
	width: 100%;
}
.col-form-label{
	// padding-right: 8px;
	text-align: right;
}
